git+https://github.com/allezov/orm_client.git
git+https://github.com/allezov/restclient.git
requests
pytest
structlog
curlify
pydantic
pyhamcrest
psycopg2-binary
records
sqlalchemy
vyper-config
restclient
